<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376642612410-728b37i68bagm4m6gitevppfocmpnqcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376642612410-728b37i68bagm4m6gitevppfocmpnqcp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376642612410-4q300svscs7qnb7sa5v0l8ui3td8bn28.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAH5FcTa811iLmuuS5C-IeMV5ZLnkOST7k</string>
	<key>GCM_SENDER_ID</key>
	<string>376642612410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialappstudio</string>
	<key>PROJECT_ID</key>
	<string>socialapp-6e54f</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-6e54f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376642612410:ios:c3163e49775dde85af6683</string>
</dict>
</plist>